* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    background-color: #ffc300;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    transition: 1s all;
}

:root {
    --gcolor: #ffc300;
    --scolor: #ff5753;
    --vcolor: #c70039;
    --ncolor: #581845;
    --box-shadow: 0 5px 10px 5px #ac4b1e;
}

.hello {
    margin-top: 15px;
    width: 12rem;
    height: 12rem;
    font: outline;
    font-weight: bold;
    font-style: oblique;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    background: #013b1b;
    color: blanchedalmond;
    outline: none;
}

.down {
    height: 40%;
    background: linear-gradient(to top, var(--vcolor), var(--ncolor), var(--scolor), var(--gcolor));
    width: 20px;
    border-top: 10px solid var(--vcolor);
    box-shadow: 1px 10px 10px 2px #581845;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.down div {
    width: 95%;
    height: 30px;
    border-radius: 30%;
    background: radial-gradient(#013b1b, rgb(2, 12, 5));
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
    color: white;
    visibility: hidden;
}

.left {
    border-bottom: 1px solid var(--scolor);
    box-shadow: var(--box-shadow);
    border-radius: 0% 50% 0% 50%;
}

.right {
    border-bottom: 1px solid var(--scolor);
    box-shadow: var(--box-shadow);
    border-radius: 50% 0% 50% 0%;
}

.switch {
    width: 10rem;
    height: 3rem;
    padding: 5px;
    border-radius: 30px;
    background: radial-gradient(#013B1B, var(--ncolor));
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    z-index: 2;
}

.s {
    height: 90%;
    width: 4rem;
    border-radius: 14px;
    border: none;
    outline: none;
    background: linear-gradient(var(--gcolor), var(--ncolor), var(--vcolor));
    box-shadow: 0 3px 5px rgba(5, 6, 7, 0.2);
}

#s {
    font-size: 20px;
    color: white;
}